In [4]:
import pandas as pd
import pymysql
import sqlalchemy

In [5]:
df= pd.read_excel('stock.xls')

In [8]:
df.head(2)

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,앱코,129890,컴퓨터 및 주변장치 제조업,게이밍기어 뉴라이프가전 등,2020-12-02,12월,오광근,http://www.abko.co.kr,서울특별시
1,엔에프씨,265740,기타 화학제품 제조업,화장품 원료 제조 및 판매,2020-12-02,12월,유우영,http://nfccosmetics.co.kr,인천광역시

In [31]:
# 컬럼명 수정
# df.columns
df.columns= ['name', 'code', 'indu', 'product', 'pubDate', 'month', 'owner', 'homepage', 'addr']

Index(['name', 'code', 'indu', 'product', 'pubDate', 'month', 'owner',
       'homepage', 'addr'],
      dtype='object')

In [11]:
df.head()

,name,code,indu,product,pubDate,month,owner,homepage,addr
0,앱코,129890,컴퓨터 및 주변장치 제조업,게이밍기어 뉴라이프가전 등,2020-12-02,12월,오광근,http://www.abko.co.kr,서울특별시
1,엔에프씨,265740,기타 화학제품 제조업,화장품 원료 제조 및 판매,2020-12-02,12월,유우영,http://nfccosmetics.co.kr,인천광역시
2,제일전기공업,199820,전동기 발전기 및 전기 변환 · 공급 · 제어 장치 제조업,PCB Assay 배선기구 분전반 등,2020-11-26,12월,강동욱,http://www.cheilelec.com,부산광역시
3,하나기술,299030,특수 목적용 기계 제조업,이차전지 제조장비(조립공정장비 83.07% PACK공정 장비 12.92% 등),2020-11-25,12월,오태봉,http://www.hn-tech.co.kr,경기도
4,에이플러스에셋,244920,보험 및 연금관련 서비스업,보험대리 및 중개업,2020-11-20,12월,박경순,NaN,서울특별시

In [13]:
# 디비 입력 단계
# sqlalchemy => db 연동, ORM 처리등 고급 데이터 베이스 연동 처리 모듈
from sqlalchemy import create_engine
import pandas.io.sql as pSql

In [26]:
 # 1. 연결 문자열 생성
 protocal = 'mysql+pymysql'
 user     = 'root'
 password = '12341234'
 domain   = 'localhost'
 database = 'python_db'
 
 db_url = f'{protocal}://{user}:{password}@{domain}/{database}'  # => 일반적인 프로토콜의 모습
 # 포트도 쓸 수 있는데 3306 쓰는거 다 아니까 안쓴느거임
 db_url

'mysql+pymysql://root:12341234@localhost/python_db'

In [27]:
 # 2. 엔진 생성
 engine = create_engine( db_url, encoding='utf8')

In [28]:
 # 3. 실연결
 conn = engine.connect()

In [29]:
 # 4. 테이블 생성 및 데이터 주입
 # (테이블은 없으면 만들어 버리고; 있으면 그냥 오픈-> 우리는 데이터를 추가함)
 df.to_sql( name='stocks',con=conn,if_exists='append', index= False)

In [30]:
 # 5. 연결 해제
 conn.close()